.formatstyle {
    text-align: center;
    margin-top: 60px;
}

.Name {
    color: blue;
    font-size: 20px;
    font-weight: 300;
}

.School {
    color: crimson;
    font-size: 20px;
}

.Total {
    color: darkmagenta;
    font-size: 20px;
}

.Score {
    color: forestgreen;
    font-size: 20px;
}
